@import "tailwindcss";

@theme {
  --font-serif: var(--font-montserrat), sans-serif;
  --font-sans: var(--font-inter), sans-serif;

  --color-brand-red: #d94545;
  --color-brand-dark: #111111;
  --color-brand-light: #f5f5f3;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #d9454540;
}
